.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

.footer-content {
  color: var(--text-light);
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content > div {
  margin: 5px 0;
}

.github-link {
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease;
}

.github-link:hover {
  transform: translateY(-3px);
}

.github-link svg {
  width: 20px;
  height: 20px;
}

.built-with {
  font-style: italic;
}

.footer-content a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover,
.footer-content a:focus {
  color: var(--text-lightest);
}