.skills-section {
    padding: 100px 0;
    text-align: center;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    justify-content: center;
  }
  
  .skills-list li {
    background-color: var(--light-navy);
    color: var(--green);
    padding: 10px;
    border-radius: var(--border-radius);
  }
  